<div class="card text-white bg-success mb-3" style="margin-top: 2%;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
        <h2 class="card-title">Welcome to Person CRUD Application</h2>
        <h3 class="card-text">This application is created using Spring Boot, Angular and deployed on AWS Elastic Bean
            Stalk, AWS S3 and
            AWS RDS</h3>

        <!-- <ul class="list-group"> 
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <h6>Create</h6>

        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6>Get one specific person</h6>

        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6>Get all persons</h6>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6>Update a person</h6>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6>Delete a person</h6>
        </li>

        </ul> -->
    </div>
</div>