<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home" routerLinkActive="active">CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="create" routerLinkActive="active">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="list" routerLinkActive="active">List all</a>
                </li>

            </ul>

        </div>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" routerLink="home" routerLinkActive="active" style="margin-left: 1%;">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="create" routerLinkActive="active" style="margin-left: 1%;"> Create</a>
            </li>
            <li class=" nav-item">
                <a class="nav-link" routerLink="list" routerLinkActive="active" style="margin-left: 1%;"> List</a>
            </li>

        </ul>

    </div>
</nav>